#"Это комментарий

№Игнорировать все файлы с расширением .log
*.log

#Игнорировать директорию "node_modules" и ее содержимое
mode_modules/

#Игнорировать файл .env
.env

#Игнорировать все файлы в директории "temp", но не саму директорию
temp/*
